.responsible-card {
    width: 6.3rem;
    margin-top: 1%;
    margin-left: 2%;
}

.btn {
    width: 5.9rem;
    text-align: center;
    font-size: 14px;
    padding: 0 0 0 0;    
    font-weight: 600;
    margin-left: -30%;
}

.filters {
    width: 20%;    
    margin: 0 auto;
}

.filter-wrapper {
    flex : 1 1 auto;    
    text-align: center;    
}

.card-header {
    padding: 0 0 0 0;
    text-align: center;
    width: 100%;
    font-size: 16px;    
    font-weight: bold;
    margin: 0 auto;
}

#form-activity {
    width: 90%;
}