.responsible-card {
    width: 6.3rem;
    margin-top: 1%;
    margin-left: 2%;
}

.card-body .btn {
    width: 5.9rem;
    text-align: center;
    font-size: 14px;
    padding: 0 0 0 0;    
    font-weight: 600;
    margin-left: -30%;
}

.filters {
    width: 20%;    
    margin: 0 auto;
}

.filter-wrapper {
    flex : 1 1 auto;    
    text-align: center;    
}

.card-header {
    padding: 0 0 0 0;
    text-align: center;
    width: 100%;
    font-size: 16px;    
    font-weight: bold;
    margin: 0 auto;
}

#form-activity {
    width: 90%;
}

.item-checked {
    background-color: aquamarine !important;
}

.today-wrapper {
    display: none;
}

.people-wrapper {
    display: flex;
}

.today-card {
    margin-left: 5%;
    margin-top: 2%;
    width: 45%;
}

.today-activity-desc {
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid black;
    width: 20%;
    float: left;
    text-align: center;
    background-color: white;
}

.today-activity-wrapper {
    float: left;    
    width: 75%;
    margin-left: 5%;
    text-align: center;
}

.today-activity-line {
    background-color: wheat;
    margin-top: 2%;
}

.today-card img{
    width: 100%;
}